*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
.center{ /* Центрирование всех элементов*/
    padding-left: calc(50% - 580px);
    padding-right: calc(50% - 580px);
}

a {
    text-decoration: none;
}

.header{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2f2e41;
    display: flex;
    gap: 32px;
}

.header__link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
   
}




