@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Regular.ttf");
    /*Ссылка на шрифт*/
    font-weight: 400;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Medium.ttf");
    /*Ссылка на шрифт*/
    font-weight: 500;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-SemiBold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 600;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Bold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 700;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 800;
    /*Размер шрифта*/
}



html {
    font-family: 'Open Sans';
    color: #FFF;
}

* {
    /* обнуление отступов у всех элементов */
    margin: 0;
}

ul {
    padding: 0;
    display: flex;
    /*Расположение текста по горизонтали*/

}
.base-container {
    max-width: 1146px;
    margin-left: auto;
    margin-right: auto;

} 

body {
    background-color: #020A18;
}

.header {
    color: white;
    background-color: #020b1b;
    height: 100px;

}


.menu {
    display: flex;
    /*Слова расположены по диагонали а не в столбик*/
    justify-content: center;
    align-items: center;
    height: 100px;
    list-style: none;
    /*Убираются точки у перечислений*/
    gap: 40px;
    /* Расстояние между словами*/
}

.menu-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.intro {
    display: flex;
    gap: 128px;

    margin-top: 160px;
    /* width: 1146px;
    margin-left: auto;
    margin-right: auto; */

}



.intro-upper-title {
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.intro-title {
    color: #FFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;

}

.intro-text {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 558px;

}

.intro-button-wrapper {
    display: flex;
    gap: 20px;


}

.intro-button {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #3A68B8;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.logos {
    /* width: 1146px;
    margin-left: auto;
    margin-right: auto; */
    margin-top: 197px;   
    display: flex;
    justify-content: space-between;
}

/* Практика 4 */

.image-text{
   
    display: flex;
    margin-top: 264px; /*Отступ с верху*/
    align-items: center;
    gap: 68px;

    margin-bottom: 264px;
}


.image-text-title {

    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%; 
}

.image-text-p_1 {
    color: #FFF;
    max-width: 460px;
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-top: 30px;
}

.image-text-button {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background:  #3A68B8;
    border-style: none;
    margin-top: 50px;

    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px 30px;

}

