@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Regular.ttf");
    /*Ссылка на шрифт*/
    font-weight: 400;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Medium.ttf");
    /*Ссылка на шрифт*/
    font-weight: 500;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-SemiBold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 600;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Bold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 700;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 800;
    /*Размер шрифта*/
}



html {
    font-family: 'Open Sans';
}

* {
    /* обнуление отступов у всех элементов */
    margin: 0;
}

ul {
    padding: 0;
    display: flex;
    /*Расположение текста по горизонтали*/

}

body {
    background-color: #020A18;
}

.header {
    color: white;
    background-color: #020b1b;
    height: 100px;

}


.menu {
    display: flex;
    /*Слова расположены по диагонали а не в столбик*/
    justify-content: center;
    align-items: center;
    height: 100px;
    list-style: none;
    /*Убираются точки у перечислений*/
    gap: 40px;
    /* Расстояние между словами*/
}

.menu-item {
    color: #FFF;
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    text-decoration: none;
}

.intro {
    display: flex;
    gap: 128px;

    margin-top: 160px;
    width: 1146px;
    margin-left: auto;
    margin-right: auto;

}

.intro-left {}

.intro-upper-title {
    color: #3A68B8;
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;

}

.intro-title {
    color: #FFF;
    font-size: 55px;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;

}

.intro-text {
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
    width: 558px;

}

.intro-button-wrapper {
    display: flex;
    gap: 20px;


}

.intro-button {
    padding: 15px 30px;
    border-radius: 5px;
    background-color: #3A68B8;
    border: none;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: normal;
}

.logos {
    width: 1146px;
    margin-top: 197px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
}

/* Практика 4 */
.container {

    margin-top: 30px;
    display: flex;
    color: #fff;
    height: 80vh;
    /* flex-flow: column wrap; */
}

.item {
    
    padding: 20px;
    border: 3px solid yellow;
}
.item2{
    /* flex-grow: 2;  */
    /* Растягивание элемента на всю длину где 1 вся длина */
}
.item3{
    
    flex-grow: 1; 
    /* Растягивание элемента на всю длину где 1 вся длина */
    /* flex-basis: 200px; */

}