@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Regular.ttf");
    /*Ссылка на шрифт*/
    font-weight: 400;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Medium.ttf");
    /*Ссылка на шрифт*/
    font-weight: 500;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-SemiBold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 600;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-Bold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 700;
    /*Размер шрифта*/
}

@font-face {
    /*Подключение шрифтов*/
    font-family: 'Open Sans';
    /*Название шрифта*/
    src: url("../fonts/OpenSans-ExtraBold.ttf");
    /*Ссылка на шрифт*/
    font-weight: 800;
    /*Размер шрифта*/
}

@font-face {
    font-family: "Gilroy-Semibold";
    src: url("../fonts/gilroy-semibold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../fonts/gilroy-bold.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../fonts/gilroy-medium.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../fonts/gilroy-regular.ttf");
    font-style: normal;
    font-weight: 400;
}

html {
    font-family: 'Open Sans';
}

* {
    /* обнуление отступов у всех элементов */
    margin: 0;
}

ul {
    padding: 0;
    display: flex;
    /*Расположение текста по горизонтали*/

}

body {
    background-color: #FFF;

}

.about {
    width: 700;
}

.header {
    margin: auto;
    margin-top: 14px;
    display: flex;
    height: 40px;
    width: 1170px;
    justify-content: space-between;
    /* border: 2px solid black */
}

.menu_logo {
    /*logo*/

    width: 137px;
    /*Ширина*/
    height: 40px;
    /*Высота*/
    margin-left: 0px;
}


.menu {
    display: flex;
    /*Слова расположены по диагонали а не в столбик*/
    justify-content: space-between;
    /*От чего отталкивается текст space-between - расположение по центу*/
    align-items: center;
    height: 40px;
    /*Высота*/
    width: 533px;
    list-style: none;
    /*Убираются точки у перечислений*/



}

.menu-item {
    color: #000;
    font-family: Gilroy-Medium;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}

.menu-item-orange {
    color: #F25822;
    font-family: Gilroy-SemiBold;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}



/*Home Meta*/
.intro {
    display: flex;
    margin-top: 89px;
    width: 1170px;
    height: 375px;
    margin-left: auto;
    margin-right: auto;
    gap: 41px;
    /* border: 2px solid black */
}

.intro-left {
    width: 522px;
    height: 375px;
    margin-left: auto;
    /* border: 2px solid black */
}

.intro-left_h1_title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 59px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* border: 1px solid black; */

}

.intro-left_p_sub_title {
    color: #888;
    font-family: Gilroy-Medium;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 466px;
    height: 48px;
    margin-top: 17px;
}

.intro-left_button_meta {
    justify-content: space-between;
    /*От чего отталкивается текст space-between - расположение по центу*/
    display: flex;
    align-items: center;
    /*Расположение по центру вертикали*/
    width: 302px;
    height: 50px;
    margin-top: 37px;
    /*расстояние от ближайшего элемента сверху*/

}

.intro-left_button_meta_button {
    width: 140px;
    height: 50px;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
    color: #FFF;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    border: none;
}

.intro-left_button_meta_video {
    color: #AAA;
    font-family: Gilroy-Bold;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    /*Убирает подчёркивание у ссылки*/

}

.intro-right {
    width: 611px;
    height: 375px;
    /* border: 2px solid black */
}

.intro-right_img {
    width: 545px;
    height: 375px;
    margin-left: 0;
    /*Отступ с лева*/
}

.logo_BG {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 243px;
    /* border: 2px solid black */


}

.logo_bar {
    display: flex;
    /*Слова расположены по диагонали а не в столбик*/
    justify-content: center;
    /*От чего отталкивается текст space-between - расположение по центу*/
    margin-top: 97px;
    /*Верхний отступ*/
    gap: 48px;
}

/* Домашнее задание №4 */

.features {
    display: flex;

    justify-content: center;
    gap: 60px;
}

.features-01 {
    margin-top: 140px;
    /* margin-bottom: 125px; */
}

.features-02 {
    box-shadow: 15px 25px 56px 6px rgba(0, 0, 0, 0.06);
}

.img-icon {
    padding-right: 239px;
}

.features-title {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 24px;
    font-weight: 400;
    padding-top: 25px;
    padding-right: 95px;
}

.features-text {
    width: 310px;
    color: #666;
    font-family: Gilroy-Regular;
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 17px;

}

.features-button {
    color: #000;
    font-family: Gilroy-Bold;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    background-color: #fff;
    padding-top: 25px;
    padding-right: 246px;
    border: none;


}

.fea-02-ml {
    padding-left: 30px;
    padding-right: 31;
    padding-top: 40;
}

/* Домашнее задание №5 */

.business-container {
    background: #FAFAFA;

}

.business {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    text-align: center;
    font-family: 'Gilroy-Bold';
}

.business-h1 {
    color: #000;
    font-size: 45px;
    font-weight: 400;
    margin-top: 92px;
}

.business-p {
    color: #666;
    font-family: 'Gilroy-Regular';
    width: 682px;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    margin-top: 19px;


}

.business-card {
    max-width: 370px;
    max-height: 549px;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.business-card-item {
    background: #FFF;
    display: flex;
    flex-direction: column;    
    justify-content: space-between;
}

.business-card-item-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.business-card-item-title__h3 {
    color: #000;
    font-size: 24px;
    font-weight: 400;
}

.business-card-item-title__p {
    color: #AAA;
    font-family: 'Gilroy-Regular';
    font-size: 15px;
    font-weight: 400;
    line-height: 150%;
    padding-top: 22px;
}

.business-card-item-title__button {
    display: flex;
    align-items: center;
    width: 150px;
    height: 50px;
    background-color: #F25822;
    border: none;
    color: #FFF;
    font-family: 'Gilroy-Bold';
    font-size: 13px;
    font-weight: 400;
    line-height: 150%;
    border-radius: 50px;
    margin-top: 39px;
}

.business-card-item-title__button_p{
    margin-left: 46px;
    margin-right: 6px;
}

.bci-2 {
    box-shadow: 15px 25px 60px -5px rgba(0, 0, 0, 0.10);
}