*{
    margin: 0;
    padding: 0;
}

img{
    /* Максимальный размер картинки на экран */
    max-width: 100%;
}

.header{
    border: 1px solid #000;
}

.content{
    display: flex;
    justify-content: center;
    background-color: #ccc;
    flex-wrap: wrap;
}

.item{
    width: 33.33333vw;
    height: 50vh;
    border: 1px solid #000;
    /* overflow: scroll; скрыть перекрытиие текста */
    box-sizing: border-box; 
}

@media (max-width:1024px){
    /* Стили для планшета.*/
    h1{
        font-size: 24px;
        text-align: center;
    }
    .item
    { background-color: orange;
    width: 50vw;
    height: 250px;
    }
}

@media (max-width:767px){
    /* Стили для мобильного устройства */

    h1{
        font-size: 18px;
        text-align: center;
    }
    .item
    { background-color: rgb(0, 81, 255);
    width: 100vw;
    height: 200px;}
}

@media (min-width:768px){
    body {
        padding: 32px;
    }   
}

@media (min-width:768px) and (max-width:1024px){
    h1{
        text-decoration: underline;
    }
}