*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Raleway', sans-serif;
}
.container{
    width: 1280px;
    margin:0 auto ;
}

a {
    text-decoration: none;
}

.header{
    padding-top: 30px;
    padding-bottom: 30px;
    background: #2f2e41;
}

.header__link{
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
   
}




